= stylesheet_link_tag "http://code.google.com/apis/maps/documentation/javascript/examples/default.css"
= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
= javascript_include_tag 'map'
#map_side_bar
  .default_text Select a location to view Tweets

#map_canvas